{% extends "ask/base.html" %}

{% block content %}
  <div class="col-md-10 col-md-offset-2">
    <div class="ask-title ask-container">
      {% comment %} Replace with first_name {% endcomment %}
      <h2>{{ request.user.username }}</h2>
    </div>
    <!--</div>-->
    <div class="ask-container ask-margin-top">
      <div class="col-sm-offset-3 col-sm-9">
        <h3>Edit your profile:</h3>
        {% if saved %}
          <div class="form-group has-success">
            <span class="help-block">Profile has been saved</span>
          </div>
        {% endif %}
      </div>
      <form class="form-horizontal ask-margin-top" enctype="multipart/form-data"
          action="{% url 'ask:profile-detail-edit' %}" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <div class="form-group {% if field.errors %}has-error{% endif %}">
            {% if field.errors %}
              <div id="{{ field.id_for_label }}_error_label">
                <div class="col-sm-offset-3 col-sm-8">
                  {% for error in field.errors %}
                    <label class="control-label" for="{{ field.id_for_label }}">{{ error }}</label>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
            <div class="col-sm-9">
              {{ field }}
            </div>
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <img src="{{ request.user.get_avatar_url }}" height="150" width="150"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary ask-btn-big" >Save</button>
            <button type="reset" class="btn btn-default ask-btn-big" >Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
