{% extends "ask/base_short.html" %}

{% block content %}
    <div class="col-md-4 col-md-offset-3">
        <div class="ask-title ask-container">
            <h2>Log In</h2>
        </div>
        <!--</div>-->
        <div class="ask-container ask-margin-top">
            <form id="formLogIn" class="form-horizontal ask-margin-top
                {% if form.non_field_errors %} has-error{% endif %}
                " action="{% url 'ask:signin' %}" method="POST">

              {% csrf_token %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}

              {% if login_error %}
                <div id="errorLabel" class="form-group">
                  <div class="col-sm-offset-3 col-sm-9 has-error">
                    <label class="control-label">Login or password incorrect</label>
                  </div>
                </div>
              {% endif %}

              {% for field in form.visible_fields %}
                <div class="form-group ">
                  {{ field.errors }}
                  <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
                  <div class="col-sm-9">
                    {{ field }}
                  </div>
                  {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
                </div>
              {% endfor %}
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-default ask-btn-big" >Log In!</button>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <a href="{% url 'ask:signup' %}">Create new account</a>
                </div>
              </div>
            </form>
        </div>
    </div>
{% endblock %}
