{% extends "ask/base_short.html" %}

{% block content %}
    <div class="col-md-5 col-md-offset-2">
        <div class="ask-container ask-margin-top">
            <form id="formLogIn"action="/upload/" method="POST"
                enctype="multipart/form-data" >
                <img height="50" width="50" src="{{ pic.get_avatar_url }}"></img>
              {% csrf_token %}
              <div id="avatarBlock">
                  <div id="errorLabelAvatar" style="display: none;">
                    <div class="col-sm-offset-4 col-sm-8">
                      <label class="control-label" for="inputError1">Can't be empty</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputFile" class="col-sm-4 control-label">Upload avatar</label>
                    <div class="col-sm-7">
                      <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse&hellip; <input type="file" >
                            </span>
                        </span>
                        <input type="file" class="form-control" id="id_avatar" name="avatar" readonly>
                    </div>
                    </div>
                  </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-default ask-btn-big" >Upload</button>
                </div>
              </div>
            </form>
        </div>
    </div>
{% endblock %}
