.ask-correct-asnwer {
    float: right;
    font-size: smaller;
}

span.ask-correct-asnwer {
    color: #3c763d;
}

.ask-log {
    display:inline-block;
    vertical-align:middle;
}
.ask-not-resizable {
    resize: none;
}
.ask-title h2{
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ask-nav-log {
    height: 50px;
}
.ask-background-nav {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 2px 15px -5px #777;
       -moz-box-shadow: 0 2px 15px -5px #777;
            box-shadow: 0 2px 15px -5px #777;
}
.ask-container-main {
    width: 1000px;
}

.ask-container.ask-container-answers {
    background-color: rgba(255, 255, 255, 0.7);
}
.ask-container.media-body.ask-question-inside-block {
    margin: 0 10px;
}
body {
    background-color: #EFEFEF;
}
.ask-container {
    padding: 10px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.ask-container-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.ask-question-main {
}

.ask-ask-question-form {
    margin-top: 20px;
}

.ask-ask-question-title {
    margin-top: 5px;
    margin-bottom: 15px;
}

.ask-question-inside-block {
    padding: 0 10px;
}

.media-body.ask-question-inside-block {
    padding-left: 10px;
    padding-right: 0;
}

.ask-inline-block {
    display: inline-block;
}

.ask-no-padding {
    padding: 0;
}

.ask-img-list {
    width: 165px;
    height: 165px;
}
.ask-img-list.ask-question-detail {
    width: 100px;
    height: 100px;
}
.ask-question-form-answer {
    position: relative;
    left: 10px;
    bottom: 40px;
    height: 0;
}
.ask-media-heading {
    margin: 10px 0;
}

.ask-question-form {
    position: relative;
    left: 40px;
    bottom: 40px;
    height: 0;
}

.ask-question-form-detail {
    position: relative;
    left: 20px;
    bottom: 40px;
    height: 0;
}


.ask-helper {
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:0;
}

button.ask-btn-big {
    width: 140px;
}

.ask-padding-left {
    padding-left: 30px;
}

.ask-float-left {
    float: left;
}
.ask-float-right {
    float: right;
}

.ask-separator {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    box-shadow: 0 1px lightgray,
            0 3px 3px -2px darkgray
}

nav.ask-padding-vertical {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ask-image-padding {
    margin: 10px 20px 10px 0px;
}
.ask-margin-top {
    margin-top: 25px;
}
.ask-width-auto {
    width: auto;
}
.spinner {
  width: 85px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
