<div id="{{ answer.get_anchor }}" class="ask-margin-top  ask-no-padding">
  <div class="media">
    <div class="media-left ask-no-padding">
      <div class="media-object">
        <img class="ask-container ask-no-padding ask-img-list ask-question-detail" src="/css/abstract.jpeg"/>
        <div class=" ask-question-form-answer">
          {% include "ask/includes/rating.html" with object=answer type="answer" %}
        </div>
      </div>
    </div>
    <div class="media-body ask-question-inside-block">
      <div class="ask-container">
        <p>{{ answer.content }}</p>
        {% if answer.is_correct or question.author == request.user %}
          <div class="caption">
            <div class="checkbox has-success">
              <label>
                <input type="checkbox" onclick="correctAnswer(this, {{ answer.id }}, {{ question.id }})"
                  {% if answer.is_correct %}checked{% endif %}
                  {% if question.author != request.user %}disabled{% endif %}> Correct!
              </label>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
