<div id="{{ answer.get_anchor }}" class="ask-margin-top  ask-no-padding">
  <div class="media">
    <div class="media-left ask-no-padding">
      <div class="media-object">
        <img class="ask-container ask-no-padding ask-img-list ask-question-detail" src="/css/abstract.jpeg"/>
        <div class=" ask-question-form-answer">
          {% include "ask/includes/rating.html" with object=answer type="answer" %}
        </div>
      </div>
    </div>
    <div class="media-body ask-question-inside-block">
      <div class="ask-container">
        <p>{{ answer.content }}</p>
        <div class="caption">
          <form>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true"> Correct!</input>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
