<div class="nav navbar-nav navbar-right row">
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img height="50" width="50" class="img-rounded media-object" src="{{ request.user.get_avatar_url }}"/>
            </a>
        </div>
        <div class="media-body ask-width-auto">
            <div class="media-heading">
                 {{ request.user.username }}
            </div>
            <a href="{% url "ask:logout" %}">Settings</a>
            <a href="{% url "ask:logout" %}">Log out</a>
        </div>
    </div>
</div>
