{% for question in question_list %}
<div class="ask-container ask-margin-top ask-no-padding">
    <div class="media">
        <div class="media-left ask-no-padding">
            <div class="media-object">
                <img class="ask-img-list" src="/css/abstract.jpeg"/>
                <div class=" ask-question-form">
                  {% include "ask/includes/rating.html" with object=question type="question" %}
                </div>
            </div>
        </div>
        <div class="media-body ask-question-main">
            <div class=" ask-question-inside-block">
                <a href="{{ question.get_absolute_url }}">
                    <h3 class="ask-media-heading">{{ question.title }}</h3>
                </a>
                <p>{{ question.content }}</p>

            </div>
            <div class="ask-question-inside-block ask-container-bottom">
                <a href="{{ question.get_absolute_url }}">Answer ({{ question.get_answers_count }})</a>
                <div class="ask-float-right">
                    Tags:
                    {% for tag in question.tags.all %}
                        <a href="{% url 'ask:tag-list' tag.text %}">{{ tag.text }}</a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}
